<%
// File: views/card.ejs
// expects: emp, settings, year, monthName, dayInfos, wds, empWds,
//           allTotalHours, allTotalDays, CODE_COLORS  
%>
<style>
.card-container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
.gap-print {
  height: 8px;
  width: 100%;
  display: block;
}


/* GŁÓWNE POPRAWKI - niższe, ciaśniejsze komórki tabel! */
.aligned-table td, .aligned-table th,
.nieobecnosci td, .nieobecnosci th {
  border: 1px solid #000;
  padding: 2px 1px;          /* MNIEJSZY padding! */
  vertical-align: middle;
  min-width: 28px;
  font-size: 0.89em;         /* ciut mniejsza czcionka */
}
.aligned-table tr,
.nieobecnosci tr {
  height: 18px;              /* niższe wiersze */
}

/* Nagłówki i etykiety */
.aligned-table th,
.nieobecnosci th {
  background: #f5f5f5;
  font-weight: bold;
}

.aligned-table td.label,
.nieobecnosci td.label {
  background: #fff;
  font-weight: bold;
  text-align: left;
}

.aligned-table tr.razem td {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  font-weight: bold;
}

.card-header-wrapper,
.day-wrapper,
.faktyczna-wrapper,
.absence-wrapper {
  display: flex;
  gap: 8px;
}

.main-header, .main-day, .main-faktyczna, .main-absence {
  flex: 1;
  min-width: 0;
}

.small-header, .small-day, .small-faktyczna, .small-absence {
  flex: 0 0 170px;
  max-width: 170px;
  min-width: 130px;
}

.small-header td,
.small-header th,
.small-day td,
.small-day th {
  text-align: center;
  font-size: 0.9em;
  padding: 2px 1px;          /* mniejszy padding w małych tabelach */
}

.uwagi {
  width: 100%;
  border-collapse: collapse;
  margin-top: 8px;
}

.uwagi td, .uwagi th {
  border: 1px solid #B5B5B5;
  padding: 4px 2px;
  vertical-align: middle;
  text-align: center;
}

.uwagi tr:first-child td {
  height: 15px !important;
  line-height: 13px !important;
  font-size: 0.86em;
  padding: 0 !important;
}
.uwagi tr:first-child td p {
  margin: 0 !important;
  padding: 0 !important;
}

.uwagi tr:nth-child(2) td {
  height: 60px !important;
  line-height: 60px !important;
  font-size: 0,94em;
}
</style>



<div class="card-header-wrapper">
  <table class="aligned-table main-header">
    <colgroup>
      <col style="width:6.62%;">
      <col style="width:6.27%;">
      <col style="width:46.18%;">
      <col style="width:15.07%;">
      <col style="width:4.53%;">
      <col style="width:6.64%;">
      <col style="width:6.64%;">
      <col style="width:7.76%;">
    </colgroup>
    
    <tbody>
      <tr>
        <td colspan="2" rowspan="2"><b>Miesięczna ewidencja czasu pracy</b></td>
        <td><b>Nazwa firmy</b></td>
        <td><b>NIP</b></td>
        <td colspan="4"><b>Komórka organizacyjna</b></td>
      </tr>
      <tr>
        <td><%= settings.company_name %></td>
        <td><%= settings.company_nip %></td>
        <td colspan="4"></td>
      </tr>
      <tr>
        <td><b>Rok:</b></td>
        <td><%= year %></td>
        <td><b>Imię i nazwisko pracownika</b></td>
        <td><b>Dzienna norma czasu pracy</b></td>
        <td colspan="4"><b>Miesięczna norma czasu pracy</b></td>
      </tr>
            <tr>
        <td><b>Miesiąc:</b></td>
        <td><%= monthName %></td>
        <td><span style="font-size:20px;"><%= emp.full_name %></span></td>
        <!-- Norma dzienna wg obowiązującej umowy -->
        <td><%= currentContract?.daily_norm || emp.daily_norm %> h</td>
        <td><b>dni:</b></td>
        <!-- Liczba dni roboczych w miesiącu -->
        <td><%= normativeDays %></td>
        <td><b>godzin:</b></td>
        <!-- Norma godzinowa w miesiącu z umowy -->
        <td><%= normativeHours %> h</td>
      </tr>

    </tbody>
  </table>

  <table class="aligned-table small-header">
    <colgroup><col style="width:100%;"></colgroup>
    <tbody>
      <tr><th>Stanowisko</th></tr>
      <tr><td><%= emp.position %></td></tr>
      <tr><th>Nr ewidencyjny</th></tr>
      <tr><td><%= emp.payroll_number %></td></tr>
    </tbody>
  </table>
</div>

<div class="day-wrapper">
  <table class="aligned-table main-day">
    <colgroup>
      <col style="width:100px; min-width:100px;">
      <col style="width:100px; min-width:80px;">
      <% dayInfos.forEach(() => { %>
        <col style="width:25px; min-width:25px;">
      <% }); %>
    </colgroup>
    <tbody>
      <tr>
        <td rowspan="2" class="label">Określenie</td>
        <td class="label">dnia tygodnia</td>
        <% dayInfos.forEach(di => { %>
          <td class="<%= di.status!=='P'?'blocked':'' %>"><%= di.kodDow %></td>
        <% }); %>
      </tr>
      <tr>
        <td class="label">dnia miesiąca</td>
        <% dayInfos.forEach(di => { %>
          <td class="<%= di.status!=='P'?'blocked':'' %>">
            <%= di.day<10?'0'+di.day:di.day %>
          </td>
        <% }); %>
      </tr>
      <tr>
        <td colspan="2" class="label">Kategoria dnia pracy</td>
        <% dayInfos.forEach(di => { %>
          <td class="<%= di.status!=='P'?'blocked':'' %>"><%= di.status %></td>
        <% }); %>
      </tr>
            <tr>
        <td colspan="2" class="label">Normatywny czas pracy</td>
        <% dayInfos.forEach(di => { %>
          <td class="<%= di.status!=='P'?'blocked':'' %>">
            <%= di.status==='P'
                  ? (currentContract?.daily_norm || emp.daily_norm)
                  : '-' %>
          </td>
        <% }); %>
      </tr>

    </tbody>
  </table>

  <table class="aligned-table small-day">
    <colgroup>
      <col style="width:80px;">
      <col style="width:80px;">
    </colgroup>
    <tbody>
      <tr>
        <td rowspan="2" colspan="2" class="label">Razem faktyczny czas pracy:</td>
      </tr>
      <tr></tr>
      <tr>
        <td class="label">w godz</td>
        <td class="label">w dniach</td>
      </tr>
      <tr>
        <td><%= allTotalHours %></td>
        <td><%= allTotalDays %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="faktyczna-wrapper">
  <table class="aligned-table main-faktyczna">
    <colgroup>
      <col style="width:100px; min-width:100px;">
      <col style="width:100px; min-width:80px;">
      <% dayInfos.forEach(() => { %>
        <col style="width:25px; min-width:25px;">
      <% }); %>
    </colgroup>
    <tbody>
      <tr>
        <td colspan="6" class="label" style="text-align:left;">
          Faktyczna liczba godzin czasu pracy
        </td>
      </tr>
      <tr>
        <td colspan="2">podstawowego wg. formy dziennej</td>
        <% dayInfos.forEach(di => {
             const wd = wds.find(w=>w.emp_id===emp.id&&w.day===di.day)||{};
             const disp = (!isNaN(+wd.code)&&wd.code)?wd.code:'-';
        %>
          <td class="<%= di.status!=='P'?'blocked':'' %>"><%= disp %></td>
        <% }); %>
      </tr>
      <tr class="razem">
      <td colspan="2" class="label">razem:</td>
      <% dayInfos.forEach(di => {
           const wd = wds.find(w=>w.emp_id===emp.id&&w.day===di.day)||{};
           const disp = (!isNaN(+wd.code)&&wd.code)?wd.code:'-';
      %>
        <td class="<%= di.status!=='P'?'blocked':'' %>"><%= disp %></td>
      <% }); %>
   
    </tr>
    <!-- pozostałe wiersze bez dodatkowych kolumn… -->
    <tr>
      <td rowspan="2" class="small-label">w godzinach nadliczbowych</td>
      <td class="small-label">z dopłatą 50%</td>
      <% dayInfos.forEach(di => { %>
    <td class="<%= di.status!=='P'?'blocked':'' %>">-</td>
  <% }); %>
    </tr>
    <tr>
      <td class="small-label">z dopłatą 100%</td>
<% dayInfos.forEach(di => { %>
    <td class="<%= di.status!=='P'?'blocked':'' %>">-</td>
  <% }); %>     
    </tr>
    <tr>
      <td colspan="2" class="small-label">w niedziele i święta</td>
<% dayInfos.forEach(di => { %>
    <td class="<%= di.status!=='P'?'blocked':'' %>">-</td>
  <% }); %>      
    </tr>
    <tr>
      <td colspan="2" class="small-label">w dni dodatkowo wolne od pracy</td>
<% dayInfos.forEach(di => { %>
    <td class="<%= di.status!=='P'?'blocked':'' %>">-</td>
  <% }); %>    </tr>
    <tr>
      <td colspan="2" class="small-label">w porze nocnej</td>
<% dayInfos.forEach(di => { %>
    <td class="<%= di.status!=='P'?'blocked':'' %>">-</td>
  <% }); %>    </tr>
    <tr>
      <td colspan="2" class="small-label">w porze dyżuru</td>
<% dayInfos.forEach(di => { %>
    <td class="<%= di.status!=='P'?'blocked':'' %>">-</td>
  <% }); %>    </tr>
    <tr>
      <td colspan="2" class="small-label">młodocianego przy pracach wzbronionych</td>
<% dayInfos.forEach(di => { %>
    <td class="<%= di.status!=='P'?'blocked':'' %>">-</td>
  <% }); %>    </tr>
    <tr>
      <td colspan="2" class="small-label">inne</td>
<% dayInfos.forEach(di => { %>
    <td class="<%= di.status!=='P'?'blocked':'' %>">-</td>
  <% }); %>    </tr>
  </tbody>
  </table>

  <table class="aligned-table small-faktyczna">
    <colgroup>
      <col style="width:40%;"><col style="width:40%;"></colgroup>
    <tbody>
      
      <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
     
    
      
    </tbody>
  </table>
</div>



<!-- W miejsce całego bloku od “// typy nieobecności” aż do końca tabel small-absence -->
<div class="absence-wrapper">
  <table class="nieobecnosci main-absence">
    <colgroup>
      <col style="width:100px; min-width:100px;">
      <col style="width:100px; min-width:80px;">
      <% dayInfos.forEach(() => { %>
        <col style="width:25px; min-width:25px;">
      <% }); %>
    </colgroup>
    <tbody>
      <tr>
        <td colspan="6" class="label" style="text-align:left;">
          Nieobecności w pracy z powodu:
        </td>
      </tr>
      <% absenceTypes.forEach(function(t) {
           const codeType  = t.code.toLowerCase();
           const labelText = t.name;
           const bg        = t.color;
      %>
        <tr>
          <td class="small-label" colspan="2" style="background:<%= bg %>;">
            <%= labelText %>
          </td>
          <% dayInfos.forEach(function(di) {
               const wd = empWds.find(w => w.day===di.day && w.code.toLowerCase()===codeType);
          %>
            <td
              class="<%= di.status!=='P'?'blocked':'' %>"
              style="<%= wd ? 'background:' + bg : '' %>;"
            ><%= wd ? wd.code : '' %></td>
          <% }); %>
        </tr>
      <% }); %>
    </tbody>
  </table>

  <table class="aligned-table small-absence">
    <colgroup>
      <col style="width:80px;">
      <col style="width:80px;">
    </colgroup>
    <tbody>
      <tr><td class="label">w godz</td><td class="label">w dniach</td></tr>
      <% absenceTypes.forEach(function(t) {
           const codeType  = t.code.toLowerCase();
           const daysCount = empWds.filter(w=>w.code.toLowerCase()===codeType).length;
           const hoursCount= daysCount * emp.daily_norm;
           const bg        = t.color;
      %>
        <tr>
          <td style="background:<%= bg %>;"><%= hoursCount %></td>
          <td style="background:<%= bg %>;"><%= daysCount  %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>
<div class="gap-print"></div>

<table class="uwagi">
  <colgroup>
    <col style="width:15.59%;"><col style="width:21.59%;"><col style="width:62.82%;"></colgroup>
  <tbody>
    <tr>
      <td><p style="text-align:center;">Sporządził</p></td>
      <td><p style="text-align:center;">Zatwierdził</p></td>
      <td><p style="text-align:center;">Uwagi:</p></td>
    </tr>
    <tr>
      <td>xD1</td>
      <td>xD2</td>
      <td><%= note %></td
    </tr>
  </tbody>
</table>
